/* CSS for homepage*/
*{
  margin: 0;
  padding: 0;
}
.homePage{
  min-height: 100vh;
  width: 100%;
  background-image:linear-gradient(rgba(60, 41, 41, 0.5), rgba(101, 2, 2, 0.5)), url(images/umesh-soni-LDnmyOaA-ew-unsplash.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.navHeader{
  background-color: rgb(97, 10, 27);
  font-family:Georgia, 'Times New Roman', Times, serif ;
  padding: 0px 45px;
}

.logo{
  width: 200px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 3%;
}
.navLink{
  flex: 1;
  text-align: right;
}
.navLink ul li{
  list-style: none ;
  display: inline-block;
  position: relative;
  padding: 2px 10px;
}
.navLink ul li a{
  text-decoration: none;
  font-size: 15px;
  color: rgb(217, 192, 138);
}
.navLink ul li ::after{
  content: '';
  width: 0%;
  height: 2px;
  background: rgb(222, 208, 130);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navLink ul li:hover::after{
  width:100%;
  content: '';
  height: 2px;
  background: rgb(222, 208, 130);
  display: block;
  margin: auto;
}
.introText{
  width: 90%;
  color:rgb(249, 230, 120);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0.5%);
  text-align: center;
}
.introText h1{
  font-size: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
}
.introText p{
  margin: 10px 0px 40px;
  font-size:40px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.orderBtn{
  display: inline-block;
  text-decoration: none;
  color: rgb(228, 228, 227);
  border: 1px solid rgb(244, 241, 222);
  border-radius: 20px;
  padding: 12px 34px;
  font-size: 15px;
  background: black;
  position: relative;
  cursor: pointer;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.orderBtn:hover{
  border: 1px solid rgb(249, 206, 126);
  background:  rgb(201, 151, 27);
  transition: 1s;
  color: rgb(8, 0, 0);
}

nav .fa {
  display: none;
}

@media(max-width:700px) {
.introText p{
  margin: 10px 0px 40px;
  font-size:25px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.introText h1{
  font-size: 70px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
}
.navLink ul li{
display: block;
color: brown;
}
.navLink ul li a{
  color: rgb(97, 10, 27);
  padding: 30px;
}

.navLink{
position: absolute;
background: rgb(249, 230, 120);
height: 100vh;
width: 200px;
top: 0;
right: -200px;
text-align: left;
z-index: 2;
transition: 1s;
}
nav .fa {
  display: block;
  color: black;
  cursor: pointer;
  font-size: 22px;
  margin: 10px;
}
}