/* CSS for homepage*/
*{
  margin: 0;
  padding: 0;
}
.homePage{
  min-height: 100vh;
  width: 100%;
  background-image:linear-gradient(rgba(60, 41, 41, 0.5), rgba(101, 2, 2, 0.5)), url(images/umesh-soni-LDnmyOaA-ew-unsplash.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.navHeader{
  background-color: rgb(97, 10, 27);
  font-family:Georgia, 'Times New Roman', Times, serif ;
  padding: 0px 45px;
}

.logo{
  width: 200px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 3%;
}
.navLink{
  flex: 1;
  text-align: center;
}
.navLink ul li{
  list-style: none ;
  display: inline-block;
  position: relative;
  padding: 2px 10px;
}
.navLink ul li a{
  text-decoration: none;
  font-size: 15px;
  color: rgb(217, 192, 138);
}
.navLink ul li ::after{
  content: '';
  width: 0%;
  height: 2px;
  background: rgb(222, 208, 130);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navLink ul li:hover::after{
  width:100%;
  content: '';
  height: 2px;
  background: rgb(222, 208, 130);
  display: block;
  margin: auto;
}
.introText{
  width: 90%;
  color:rgb(249, 230, 120);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0.5%);
  text-align: center;
}
.introText h1{
  font-size: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
}
.introText p{
  margin: 10px 0px 40px;
  font-size:40px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.orderBtn{
  display: inline-block;
  text-decoration: none;
  color: rgb(228, 228, 227);
  border: 1px solid rgb(244, 241, 222);
  border-radius: 20px;
  padding: 12px 34px;
  font-size: 15px;
  background: black;
  position: relative;
  cursor: pointer;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.orderBtn:hover{
  border: 1px solid rgb(249, 206, 126);
  background:  rgb(201, 151, 27);
  transition: 1s;
  color: rgb(8, 0, 0);
}

nav .fa {
  display: none;
}

@media(max-width:700px) {
.introText p{
  margin: 10px 0px 40px;
  font-size:25px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.introText h1{
  font-size: 70px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
}
.navLink ul li{
display: block;
color: brown;
}
.navLink ul li a{
  color: rgb(97, 10, 27);
  padding: 30px;
}

.navLink{
position: absolute;
background: rgb(249, 230, 120);
height: 100vh;
width: 200px;
top: 0;
right: -200px;
text-align: left;
z-index: 2;
transition: 1s;
}
nav .fa {
  display: block;
  color: black;
  cursor: pointer;
  font-size: 22px;
  margin: 10px;
}
}

/* CSS for Exclusive offers*/
.exOffers{
  margin: auto;
  padding-top: 70px;
  padding-bottom: 20px;
  
  background-color: rgb(252, 246, 210);
}
.exTitle{
  text-align: center;
}
.exTitle h1{
  color: rgb(17, 1, 1);
}
.exTitle p{
  color: rgb(97, 10, 27);
  font-weight: bold;
  font-size: 30px;
}
.exBody{
  width: 90%;
  margin-top: 50px;
  margin-left:75px ;
  margin-right: 50px;
  margin-bottom: 50px;
}
.offers{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 3%;
  padding-bottom: 5%;
}

.offer1{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color:rgb(97, 10, 27);
  color:  rgb(97, 10, 27);
  border-radius: 12px;
  box-shadow:0 6px 18px rgba(18,18,18,0.06);
}

.exImg{
  height: 100%;
  display: flex;
  align-items: center;
 justify-content: center;
 position: relative;
}

.exImg img{
  width: 98%;
  height: 97%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow:0 6px 18px rgba(18,18,18,0.06);

}
.exTxtbody{
  padding:16px 16px 20px;
  display:flex; 
  flex-direction:column; 
  gap:8px;
  background-color: #ffffff;
}
.btnSection{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}
.badge{
  position: absolute;
  left: 12px;
  top: 12px;
  padding: 6px 10px;
  background-color: rgb(97, 10, 27);
  color: rgb(250, 237, 169);
  border-radius: 1000px;
  font-size: 15px;
  font-weight: 700;
  box-shadow: 0 6px 12px rgba(201,79,79,0.18);
}

.orderNowBtn{
  background-color:rgb(97, 10, 27);
  color: rgb(253, 245, 185);
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 500px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.orderNowBtn:hover{
  background-color:rgb(253, 245, 185);
  color: rgb(97, 10, 27);
}

.title{
  display: flex;
  text-align:center ;
  justify-content: space-between;
}

.title h3{
  font-size: 20px; margin: 0;
}
.desc{
  font-size: 15px; margin: 0;
}
.price{
  font-size: 15px;
  margin: 0;
  font-weight: 900;
}

/* CSS for Catalog*/
.catalog{
  background-color: rgb(250, 237, 169);;
}
.catalogTitle{
  text-align: center;
  color:rgb(97, 10, 27);
  font-size: 30px;
  font-weight: 900;
  background-color: rgb(250, 237, 169);
}
.catalogNav{
  text-align: center;
  background-color:rgb(97, 10, 27);
  padding:8px ;
  
}
.catalogNav ul li{
  display: inline-block;
  padding-right: 25px;
  font-size: 20px;
  color: rgb(250, 237, 169);
}

.catalogNav ul li a{
  text-decoration: none;
  color: rgb(250, 237, 169);
  cursor: pointer;
}
.catalogNav ul li a:hover{
  text-decoration: underline;
}

.menuHeading{
  text-align: center;
  font-size: 20px ;
  
}

.catalogBody{
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  color:rgb(97, 10, 27);
}
.sweetTreats p{
  text-align: center;
  font-size: 17px;
}
.menuSubheading{
  font-size: 50px;
  padding-top: 30px;
}


.itembody{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 15px;
}

.item{
  border: 100px;
  border-color: purple;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: blue;
  box-shadow: 0 6px 12px rgba(201,79,79,0.18);
}
.itemImg{
  display: flex;
 position: relative;
 height: 100%;
  display: flex;
  align-items: center;
 justify-content: center;
 position: relative;
}

.itemTxt{
  padding:16px 16px 20px;
  display:flex; 
  flex-direction:column; 
  gap:8px;
  background-color: #f8f2f2;
}

.itemTxt h4{
font-size: 25px;
}
.itemTxt p{
  padding-bottom: 2px;
  padding-top: 2px;
}

.itemTxt button{
  background-color:rgb(97, 10, 27);
  color: rgb(253, 245, 185);
  width: 80px;
  height: 30px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 500px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.itemImg img{
  width: 100%;
  height: 200px;
  object-fit: cover;

}

@media (max-width:700px) {
  .catalog{
    padding: 20px;
  }

  catalogBody{
    padding-left: 20px;
    padding-right: 20px;
  }
  .menuSubheading{
    font-size: 30px;
  }
}